<img class="vector" src="assets/Vector.svg" alt="">
<div class="container">
    <nav id="navbar" class="navbar navbar-expand-lg">
        <a class="navbar-brand dark" routerLink="/" routerLinkActive="active"><img src="assets/appicon.png" alt="appicon"><span>AdviseMe</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav abs-center-x">
                <li class="nav-item first-nav">
                    <a class="nav-link" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#download">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>
<div id="footer">
    <div class="footer-icons">
        <div class="logo-container">
            <img src="assets/icons/appicon.png" alt="appicon">
            <span>AdviseMe</span>
        </div>
        <div class="sn-container">
            <a href="https://www.facebook.com/appadviseme/"><img src="assets/Facebook.svg"></a>
            <!-- <a href=""><img src="assets/icons/Twitter.svg"></a> -->
            <a href="https://www.instagram.com/appadviseme/"><img src="assets/Instagram.svg"></a>
        </div>
    </div>
    <div class="contact">
        <p>Have a question?</p>
        <a href="mailto:support@scorpios.tech">Contact Us</a>
    </div>
    <div class="tp">
        <p>© 2020 AdviseMe. All rights reserved. <a href="https://www.adviseme.co/privacy">Privacy Policy</a> & <a href="https://www.adviseme.co/terms">Terms & Conditions</a></p>
    </div>
</div>